# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
node_modules
package-lock.json

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
/patch_notes.md
/.claude/worktrees/optimistic-brattain-fc3015/
/CLAUDE.md
